* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: dosFont;
  src: url(font.ttf);
}
body {
  font-family: dosFont;
  color: white;

  background-color: rgb(35, 35, 35);
}
.text {
  font-size: 5.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: chartreuse;
}
h1 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  color: wheat;
}
a {
  font-size: 2rem;
  position: absolute;
  color: wheat;
}
.linkedin {
  margin-left: 1.5em;
}

.twitter {
  margin-left: 3em;
}
